[submodule "CrappyEngine/vendor/spdlog"]
	path = CrappyEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CrappyEngine/vendor/GLFW"]
	path = CrappyEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
